{% extends 'layout/default.html.twig' %}

{% block head %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ asset('assets/js/lib/autobahn.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/src/app.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<p id="notify">&nbsp;</p>
{% endblock %}